@import url("../../vars.pcss");

.input {
    border: 0;
    border-radius: 4px;
    width: 280px;
    color: $whiteColor;

    &:focus {
        outline: 1px solid $blueOutline;
        background: $backgroundBlack;
    }

    &:focus {
        color: $whiteColor;
        border-bottom: 1px solid $blueOutline;
        background: $backgroundBlack;
    }
}