@import url("../../vars.pcss");

.button {
    color: $greyLightColor;
    width: max-content;
    padding: 8px;
    margin: 0;
    border: 0;
    background: $whiteColor;
    border-radius: 16px;
    transition: all 0.2s ease;

    &:hover {
        cursor: pointer;
        opacity: .7;
        background: $greyLightColor;
        color: $whiteColor;
    } 
}