@import url("../../vars.pcss");

.button {
    color: $greyLightColor;
    margin: 0;
    border: 0;
    background: $whiteColor;
    border-radius: 4px;
    transition: all 0.2s ease;

    &:hover {
        cursor: pointer;
        opacity: .7;
        outline: 2px solid $whiteColor;
    } 
}