<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title>Messenger</title>
</head>

<body>
    <main class="main">
        <form class="form">
            {{> input/input class="input" placeholder="Имя" name="first_name" type="text"}}
            {{> input/input class="input" placeholder="Фамилия" name="second_name" type="text"}}
            {{> input/input class="input" placeholder="Придумайте логин" name="login" type="text"}}
            {{> input/input class="input" placeholder="Введите email" name="email" type="text"}}
            {{> input/input class="input" placeholder="Введите пароль" name="password" type="password"}}
            {{> input/input class="input" placeholder="Введите телефон" name="phone" type="text"}}
            {{> button/button class="button" type="button" text="Зарегистрироваться"}}
            {{> link/link class="link" link="../index.hbs" text="Вернуться назад?"}}
            {{> link/link class="link" link="./chat.hbs" text="Попробовать бесплатно"}}
            {{> link/link class="link" link="./500.hbs" text="Или посмотреть еще варианты"}}
        </form>
    </main>
</body>

</html>
