@import url("../../vars.pcss");

$avatarSize: 120px;

.avatar {
    background: $whiteColor;
    object-fit: cover;
    border-radius: $avatarSize;
    box-sizing: border-box;
    width: $avatarSize;
    position: relative;
    transition: .2s ease-in-out;
  }

.image{
    display: block;
    padding: 0;
    margin: 0;
    object-fit: cover;
    border-radius: $avatarSize;
    box-sizing: border-box;
    width: $avatarSize;
    height: $avatarSize;
  }
  