@import url("../../vars.pcss");

.avatar {
    width: 36px;
    height: 36px;
    background: $whiteColor;
    border-radius: 100%;
    transition: all 0.2s ease;

    &:hover {
        cursor: pointer;
        opacity: .7;
    }
}

.image {
    display: block;
    margin: 0;
}