@import url("./vars.pcss");

body {
    font-family: Inter, sans-serif;
    background: $backgroundBlack;
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    width: 100%;
    margin: 0 auto;
    background: $backgroundBlack;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
