$blueOutline: #056ef0;
$backgroundBlack: #1e1e1e;
$whiteColor: #808080;
$greyLightColor: #d4d4d4;
$errorColor: #99784c;
$backgroundSecondaryBlack: #080808;
$backgroundBlue: #5151fd;
$errorOrange: #ce9177;
$chatBadgeColor: #f3f3f3;
$backgroundGray: #494646;
$backgroundSecondaryGray: #3b3838;
$formBorderColor: #5b5757;
$formBorderHoverColor: #504545;