@import url("../../vars.pcss");

.message {
    max-width: 240px;
    border-radius: 4px;
    display: flex;
    padding: 4px;
    align-self: flex-start;
    background: #494646;
}

.message_mine {
    align-self: flex-end;
}